<div class="card">
  <div class="card-body">
    <%= tag.h3 do %>
      <%= tag.span OmniArticle::Article.model_name.human %>
      <%= tag.span article.id, class: "badge badge-pill bg-info ms-2" %>

      <%= link_to [:admin, article, :entry], data: { turbo_frame: "modal" }, class: "icon-text text-info ms-2" do %>
        <%= tag.span inline_svg_tag("easy_style/icon_qrcode.svg"), class: "vertical-align-middle" %>
      <% end %>
    <% end %>

    <div class="row text-align-center">
      <div class="col w-100">
        <%= tag.div article.title, class: "card-title" %>
      </div>
    </div>

    <div class="row text-align-center">
      <div class="col w-100">
        <%= tag.div l(article.updated_at, format: :long), class: "text-secondary" %>
      </div>
    </div>

    <div class="row">
      <div class="col w-100">
        <%= rich_text_content article.content %>
      </div>
    </div>

    <div class="form-field align-items-center mt-5">
      <% if policy([:omni_article, :admin, article]).edit? %>
        <%= link_to t("omni_article.edit"), edit_admin_article_path(article), class: "btn btn-primary me-3" %>
      <% end %>

      <%= link_to t("omni_article.back_list"), admin_articles_path, class: "btn btn-secondary me-3" %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal", target: "_top" %>
