<section>
  <div class="card">
    <div class="card-body">
      <%= tag.h3 OmniArticle::Article.model_name.human %>

      <div class="d-flex mb-2">
        <%= render "search_form", q: @q %>

        <div class="ms-auto">
          <%= link_to new_admin_article_path, class: "btn btn-primary ms-3" do %>
            <%= tag.span inline_svg_tag("easy_style/icon_add.svg") %>
            <%= tag.span t("omni_article.add") %>
          <% end %>
        </div>
      </div>

      <%= render "data_table", articles: @articles %>
    </div>
  </div>
</section>
