<!DOCTYPE html>
<html>
<head>
  <title>Omni article</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "omni_article/application", media: "all" %>
  <%= javascript_include_tag "omni_article/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
