<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= content_for?(:title) ? yield(:title) : t("omni_article.engine") %></title>

    <%= stylesheet_link_tag "easy_style/common", media: "all" %>
    <%= es_module_shims %>
    <%= javascript_importmap_tags "easy_style/application" %>
    <%= javascript_import_module_tag "easy_style/turbo" %>
    <%= javascript_import_module_tag "easy_style/request" %>
    <%= javascript_import_module_tag "easy_style/utilities" %>

    <%= yield(:head_additions) if content_for?(:head_additions) %>
  </head>
  <body>

    <%= content_for?(:custom_flash_messages) ? yield(:custom_flash_messages) : render("easy_style/mobile/shared/flash_messages") %>

    <%= yield %>

  </body>
</html>
