<%= content_for :title, [article_owner.name, params[:tag].presence].compact.join(" - ") %>

<section>
  <div class="card border-0 rounded-0 shadow-none bg-transparent">
    <div class="card-body px-0 py-0">
      <div class="px-3 py-3 bg-white border-bottom">
        <div class="fw-semibold text-dark"><%= article_owner.name %></div>
        <% params[:tag].presence&.then do |tag_name| %>
          <div class="text-secondary small mt-1">
            <%= OmniArticle::Article.human_attribute_name(:tag_list) %>: <%= tag_name %>
          </div>
        <% end %>
      </div>

      <% if @articles.present? %>
        <%= render "omni_article/user/articles/list", articles: @articles %>
      <% else %>
        <%= render "easy_style/mobile/shared/no_more" %>
      <% end %>
    </div>
  </div>
</section>
