<header>
  <%= tag.div data: { controller: "sidebar-visibility" } do %>
    <%= button_tag data: { action: "sidebar-visibility#toggleSidebar", sidebar_visibility_target: "trigger" },
      type: "button",
      class: "sidebar-trigger" do %>
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    <% end %>
  <% end %>

  <nav aria-label="breadcrumb" class="sm:col-12">
    <ol class="breadcrumb">
      <%= render_breadcrumbs builder: EasyStyle::BreadcrumbsBuilder %>
    </ol>
  </nav>

  <%= tag.div data: { controller: "popover" } do %>
    <div class="d-none">【FILLER】</div>

    <%= link_to "javascript:;",
      data: { action: "popover#togglePopup click@window->popover#closePopup", popover_target: "trigger" },
      class: "profile-settings" do %>
      <div class="icon-text">
        <%= tag.span current_user %>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="var(--color-divider, currentColor)" viewBox="0 0 16 10" height="8">
          <path d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"/>
        </svg>
      </div>
    <% end %>

    <%= tag.div data: { popover_target: "popup" },
      class: "profile-menu dropdown-menu d-none" do %>
      <h3 class="dropdown-title">
        <%= tag.span t("tenant_auth.breadcrumbs.my_setting") %>
      </h3>
      <div>
        <% if current_tenant.present? %>
          <%= link_to tenant_auth.profile_path, class: "dropdown-item" do %>
            <%= tag.span TenantAuth::Profile.model_name.human %>
            <%= tag.span "123", class: "badge badge-pill bg-info d-none" %>
          <% end %>
          <%= link_to tenant_auth.sign_out_path, class: "dropdown-item" do %>
            <%= tag.span t("tenant_auth.sign_out") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</header>
